@model ProductInput
@Html.Partial("_ValSum")

@using (Html.BeginForm())
{
    <div class="form-group row">
        <label class="col-sm-4 font-weight-bold col-form-label col-form-label-sm">Barkod</label>
        <div class="col-sm-8">
            @Html.Awe().AutocompleteFor(s => s.Barkod).PropId(s => s.StockId).GeneratePropId(true).Url(Url.Content("/Data/StockAutoComplete")).Placeholder("Barkod Numarası").CssClass("w-100")
        </div>
    </div>
    @Html.EditorFor(q => q.Count)
}
<script>
    function customAjaxCompleted(o) {

        if (o.Error) {
            awem.notif(o.Error, 15000, 'o-err');
            return;
        }
        if (o.Url && o.Content) {
            awem.notif(o.Content, 5000, 'o-msg');
            setTimeout(function () {
                document.location.href = o.Url;
                return;
            }, 2000);
        }
        if (o.Url) {
            document.location.href = o.Url;
            return;
        }
        if (o.Content)
            awem.notif(o.Content, 5000, 'o-msg');
        if (o.ErrorList) {
            showErrorMessagesOnValidate(o.ErrorList);
        }
    }
</script>
@Html.Awe().Form().FormClass("ajaxForm").FillFormOnContent(true).Success("customAjaxCompleted")
