@model string
@{ 
    Layout = null;
}
<style>

</style>
    <div class="text-center" style="width:100;height:100%">
        <span style="font-size:2.5rem" class="m-error_number">
            HATA
        </span>
        <p style="font-size:2rem;" class="m-error_desc text-danger">
            @Model
        </p>
    </div>