<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>@ApplicationSettingHelper.BrandName</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });</script>
    <link href="~/Assets/app/vendors/base/vendors.bundle.css" rel="stylesheet" />
    <link href="~/Assets/app/demo/demo5/base/style.bundle.css" rel="stylesheet" />
    <script src="~/Assets/app/vendors/base/vendors.bundle.js"></script>
    <script src="~/Assets/app/demo/demo5/base/scripts.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Assets/login/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/login/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/login/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/login/css/main.css">
</head>
@RenderBody()
</html>
<script src="~/Assets/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="~/Assets/login/vendor/bootstrap/js/popper.js"></script>
<script src="~/Assets/login/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Assets/login/vendor/select2/select2.min.js"></script>
<script src="~/Assets/login/js/main.js"></script>