@model ForgotPasswordInput
@{
   Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<div class="text-center mt-4 mb-5">
    <h4>E-Posta kutusunu kontrol ediniz.</h4>
    <p>Parola sıfırlama ile ilgili talimatlar e-posta adresinize gönderilmiştir.</p>
</div>
<div class="text-center">
    <a class="d-block small" href="/Account/Login">Giriş Yap</a>
</div>