@model ForgotPasswordInput
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<div class="limiter">
    <div class="container-login100" style="background-image: url('images/img-01.jpg');">
        <div class="wrap-login100 p-t-190 p-b-30">
            @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-login__form m-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="text-center mt-4 mb-5 text-white">
                    <h3>Parola Hatırlatma</h3>
                    <br />
                    <p class="text-white">Kayıtlı olduğunuz e-posta adresinize parola sıfırlama talimatı gönderilecektir.</p>
                </div>
                <div class="text-center m-b-20">
                    @Html.ValidationSummary(true, "", new { @class = "text-light" })
                </div>
                <div class="text-center m-b-10">
                    @Html.ValidationMessageFor(p => p.Email, "", new { @class = "text-light" })
                </div>
                <div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">
                    @Html.TextBoxFor(p => p.Email, new { @class = "input100", placeholder = "E-Posta", autocomplete = "off", id = "username" })
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
                <div class="container-login100-form-btn p-t-10">
                    <button class="login100-form-btn">
                        Gönder
                    </button>
                </div>
                <div class="text-center w-full p-t-25 p-b-230">
                    <a href="/Account/Login" class="txt1">
                        Giriş Yap
                    </a>
                </div>
            }
        </div>
    </div>
</div>